<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="RodCarvalho.KoboPageTurner"
    Publisher="CN=RodCarvalho-KoboPageTurner-SelfSigned"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="77483f2b-c677-438f-bc6e-ee202cfb4d5f" PhonePublisherId="00000000-0000-0000-0000-000000000000" />

  <Properties>
    <DisplayName>Kobo Page Turner</DisplayName>
    <PublisherDisplayName>Rod Carvalho</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <!--
      MinVersion/MaxVersionTested here are placeholders: MSBuild rewrites
      both values automatically from TargetPlatformMinVersion/
      TargetPlatformVersion in the .csproj at build time.
    -->
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.15063.0" MaxVersionTested="10.0.17763.0" />
  </Dependencies>

  <Resources>
    <Resource Language="en-US" />
  </Resources>

  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="KoboPageTurnerUWP.App">
      <uap:VisualElements
        DisplayName="Kobo Page Turner"
        Description="Bluetooth page-turner remote for Kobo e-readers."
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile
          Wide310x150Logo="Assets\Wide310x150Logo.png"
          Square71x71Logo="Assets\Square71x71Logo.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="transparent" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <!-- Required for Windows.Devices.Bluetooth (GattServiceProvider / peripheral role). -->
    <DeviceCapability Name="bluetooth" />
  </Capabilities>

</Package>
